* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .login{
    border-style: solid;
    padding: 50px;
    padding-top: 90px;
    padding-bottom: 90px;
    border-color: black;
    border-radius: 20px;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    flex-basis: 0;
  }
  .signup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: solid;
    padding: 10px;
    border-color: black;
    border-radius: 20px;
    margin:10px;
  }
  
  
  
  .loginPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    padding-top: 3rem;
    min-height: 100vh;
  }
  h1{
    font-size: 55px;
  }
  h3{
    font-size: 30px;
  }
  h2{
    font-size: 25px;
  }
  p{
    font-size: 20px;
  }
  #nameTagImg{
    height: 50px;
    width: 50px;
  }
  .loginPageDes{
    flex: 1;
    flex-basis: 0;
    margin: 10px;
    max-width: 50%;
  }
  
  .bannerImg{
    object-fit: cover; 
    border-radius: 15px;
    height: 18rem;
    width: 70rem;
  }
  
  @media (max-width: 1200px) {
    .bannerImg{
      object-fit: cover; 
      border-radius: 15px;
      height: 18rem;
      width: 60rem;
    }
  }
  
  @media (max-width: 1000px) {
    .bannerImg{
      object-fit: cover; 
      border-radius: 15px;
      height: 18rem;
      width: 50rem;
      
    }
  }
  
  @media (max-width: 768px) {
  
    .bannerImg{
      object-fit: cover; 
      border-radius: 15px;
      height: 18rem;
      width: 50rem;
    }
  
    .login{
      padding:30px;
  
    }
    .loginPageDes {
      display: none;
    }
    .loginPage{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 2rem;
      padding-top: 2rem;
      padding-bottom: 10rem;
      min-height: 100vh;
    }
    h1{
      font-size: 30px;
    }
    #nameTagImg{
      height: 20px;
      width: 20px;
    }
  }
  
  
  html,
  body{
    max-width: 100vw;
    overflow-x: hidden;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  
